<main>
  <section>
    <article *ngIf="authService.userData as user">
      <img class="align-self-start mr-5 img-thumbnail rounded-circle"
        src="{{(user.photoURL) ? user.photoURL : 'https://images.pexels.com/photos/16606649/pexels-photo-16606649/free-photo-of-naturaleza-planta-hojas-verde.jpeg'}}" alt="{{user.displayName}}">
      
        <h2>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h2>
        <p>User ID: <strong>{{user.uid}}</strong></p>
        <p>Email: <strong>{{user.email}}</strong></p>
        <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
      
      <button (click)="authService.SignOut()">Logout</button>
    </article>
  </section>
</main>