@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Raleway:wght@300&display=swap');


header {
    background-color: #F6F5F5;
    border-radius: 0 0 5em 5em;
    padding: 1%;
    color: #2d3436;
    z-index: 2147483647;

    a, a:visited, a:hover, a:active {
        color: #2d3436;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;


        h1 {
            font-family: 'Inconsolata', monospace;
            text-decoration: none;

        }

        h1:visited {
            font-family: 'Inconsolata', monospace;
            color: #2d3436;
            text-decoration: none;
        }

        ul {
            width: 65%;
            font-family: 'Raleway', sans-serif;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            li {
                
                a{
                    padding: .5em;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                }

                a:hover{
                    background-color:#dfdddd;
                    border-radius: 5em;
                    padding: .5em;
                }

            }
            


        }

        .items-bar-hide {
            display: none;

        }

        @media (max-width:900px) {
            flex-direction: column;
            ul{
                width: 90%;
                padding-top: 2%;
            }
            
        }

        @media (max-width:680px) {
            .items-bar-hide {
                padding: 3%;
                position: fixed;
                bottom: 0;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                background-color: #F6F5F5;

                border-radius: 5em 5em 0 0;
                li{
                    padding: 0;
                }
                li:hover{
                    padding: 0;
                }
            }

            .items-bar {
                display: none;
            }
            h1{
                padding: 3%;
            }
        }
        @media (max-width:400px) {
            .items-bar-hide {
                p{
                    font-size: .7em;
                }
                padding: 5%;
            }
        }
    }


}



.languaje{    
    position: fixed;
    top:18%;
    right: .5%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    button{  
        margin: .1rem;
        border-style: none;
        
        border-radius: 5em;
        width: 2rem;
        height: 2rem;
        img{
            width: 2rem;
            height: 2rem;
            border-radius: 5em;
        }
    }
    button:hover{
        border-radius: 5em;
        border-style: none;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        img{
            width: 2rem;
            height: 2rem;
            border-radius: 5em;
        }
    }
    
}


.toggle {
    display: none;
  }
  
  .toggle-label {
    position: fixed;
    top:29%;
    right: .5%;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    cursor: pointer;
  }
  
  .sun,
  .moon {
    position: absolute;
    right: 0;
    width: 100%;
    height: auto;
    transition: top 0.3s;
    user-select: none;
  }
  
  .sun {
    top: 0;
  }
  
  .moon {
    top: -150%;
  }
  
  .toggle:checked + .toggle-label .sun {
    top: 150%;
  }
  
  .toggle:checked + .toggle-label .moon {
    top: 0;
  }
  

footer {
    background-color: #F6F5F5;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 3%;
    font-family: 'Raleway', sans-serif;
    border-radius: 5em 5em 0 0;

    div {
        margin: 3%;
        color: #2d3436;
        ul {
            list-style: none;

            li {
                margin-top: 2em;
                padding: 1em;

                a, a:visited, a:hover, a:active {
                    color: #2d3436;
                    text-decoration: none;
                }
            }
            li:hover{
                background-color:#dfdddd;
                border-radius: 5em;
                padding: 1em;
            }

        }
    }

    @media (max-width:900px) {
        flex-wrap: wrap;
        flex-direction: column;
        div{
            ul{
                
                    li{
                        margin: 2em;
                        padding: 1em;
                    }
                
            }
        }
    }

    @media (max-width:680px) {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}