<main>
  <section>
    <article>
      <h2>Curriculum Vitae - English</h2>
      <pdf-viewer
      [src]="src"
      [rotation]="0"
      [original-size]="false"
      [show-all]="true"
      [fit-to-page]="false"
      [zoom]="1"
      [zoom-scale]="'page-width'"
      [stick-to-page]="false"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
      style="width: 90%; height: 600px;"
    ></pdf-viewer>
    <button (click)="downloadPdf()">Download PDF</button>
    <a href="/assets/cv.pdf">See online</a>

    <h2>Curriculum Vitae - Spanish</h2>
      <pdf-viewer
      [src]="src"
      [rotation]="0"
      [original-size]="false"
      [show-all]="true"
      [fit-to-page]="false"
      [zoom]="1"
      [zoom-scale]="'page-width'"
      [stick-to-page]="false"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
      style="width: 90%; height: 600px;"
    ></pdf-viewer>
    <button (click)="downloadPdfSpanish()">Descargar PDF</button>
    <a href="/assets/cv.pdf">Ver en linea</a>
    </article>
  </section>
</main>

    
