
<main>
  <section>
    <h2>Services</h2>
    <article class="service-form" *ngIf="auth.isLoggedIn">
      <form [formGroup]="serviceForm" (ngSubmit)="submitServiceData()" novalidate>
        <label>Name</label>
        <input type="text" formControlName="name" class="full-width" required />
        <p *ngIf="serviceForm.controls['name'].errors?.['required']" class="error">
          <sup>*</sup>Name required
        </p>
    
        <label>Description</label>
        <quill-editor formControlName="description" ></quill-editor>
        <p *ngIf="serviceForm.controls['description'].errors?.['required']" class="error">
          <sup>*</sup>Description required
        </p>
    
        <label>Image</label>
        <input type="text" formControlName="imagen" class="full-width" required />
        <p *ngIf="serviceForm.controls['imagen'].errors?.['required']" class="error">
          <sup>*</sup>Image Required
        </p>
    
        <label>Price</label>
        <input type="text" formControlName="price" class="full-width" required />
        <p *ngIf="serviceForm.controls['price'].errors?.['required']" class="error">
          <sup>*</sup>Price Required
        </p>
    
        <label>URL</label>
        <input type="text" formControlName="url" class="full-width" />
        <!-- No es requerido, por lo que no hay mensaje de error -->
    
        <label>Time</label>
        <input type="text" formControlName="time" class="full-width" />
        <!-- No es requerido, por lo que no hay mensaje de error -->
    
        <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">Reset</button>
        <button type="submit" class="btn btn--primary btn-wide btn--large full-width" [disabled]="!serviceForm.valid">
          Send
        </button>
      </form>
    </article>
  


    <article class="service-list">
      <ul>
        <li *ngFor="let service of services">
          <div class="image-container">
            <img src="{{ service.imagen }}" alt="{{ service.name }}" title="{{ service.description }}">
            <div class="content">
              <h3>{{ service.name }}</h3>
              <p>{{ service.price }}</p>
              <p>{{ service.time }}</p>
              <p>{{ service.url }}</p>
             
              <button class="details" (click)="openModal(service)">View Details</button>
              <div *ngIf="auth.isLoggedIn">
                <button class="delete" (click)="deleteService(service.$key)">Eliminar</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </article>
    
    <div class="modal-container" [ngClass]="{'showModal': showModal}">
      <div class="modal-content">
        <h2>{{ selectedService.name }}</h2>
        <p>{{ selectedService.price }}</p>
        <p>{{ selectedService.time }}</p>
        <p>{{ selectedService.url }}</p>
        <div [innerHTML]="selectedService.description "></div>
      
        <button class="close" (click)="closeModal()">Close</button>
      </div>
    </div>
    
  </section>
</main>

  