/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

body:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
  }
  
  body.dark-mode {
    background-color: #2d3436;
    color: white;
  }
  
  body.light-mode {
    background-color: white;
    color: #2d3436;
  }
  